.list-table {
    background: #ffffff;
    border-radius: 24px;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.list-table-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 13px;
}

.list-table-format.title {
    background-color: #f9f9f9;
    font-weight: 600;
}

.list-table-format img {
    width: 50px;
}

@media(max-width:600px) {

    .list-table-format {
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }

    .list-table-format.title {
        display: none;
    }
}